body{

    font-family: 'Courier New', Courier, monospace  ;
    text-align: center;
    
}
hr{
    padding: 0;
  
    width: 50%;
    margin: 20px auto;
}

#title{
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2PX;

}

#board{
    width:350px;
    height: 420px;
    
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;

}
.tile{
    border: 2px solid black;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    color: black;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.correct{
    background-color: green;
    color: white;
    border-color: white ;
}

.present{
    background-color: yellow;
    color: black;
    border-color: white ;
}

.absent{
    background-color: #3a3a3c;
    color: white;
    border-color: white ;
}

@keyframes flip{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}
.tile.flip{
    animation: flip 0.5s ease-in forwards;
        }
 .tile{
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
    }
#answer {
    min-height: 1.5em;
    color: #555;
    font-style: italic;
    margin-top: 10px;
    transition: opacity 0.5s ease;
}

.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#keyboard-container {
    margin-top: 20px;
    user-select: none;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.key {
    background-color: #d3d6da;
    border-radius: 4px;
    padding: 15px;
    margin: 3px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.key.large {
    padding: 15px 25px;
    /* For Enter and Backspace */
}

/* Colors for the keyboard state */
.key.absent {
    background-color: #787c7e;
    color: white;
}

.key.present {
    background-color: #c9b458;
    color: white;
}

.key.correct {
    background-color: #6aaa64;
    color: white;
}