body{

    font-family: 'Courier New', Courier, monospace  ;
    text-align: center;
    
}
hr{
    padding: 0;
  
    width: 50%;
    margin: 20px auto;
}

#title{
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2PX;

}

#board{
    width:350px;
    height: 420px;
    
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;

}
.tile{
    border: 2px solid black;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    color: black;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.correct{
    background-color: green;
    color: white;
    border-color: white ;
}

.present{
    background-color: yellow;
    color: black;
    border-color: white ;
}

.absent{
    background-color: red;
    color: white;
    border-color: white ;
}